<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="../scripts/typed.js" defer></script>
    <link rel="stylesheet" href="../styles/style.css">
    <title>7 tund</title>
</head>

<body>
    <a href="../index.html">Chart.js</a>
    <a href="GSAP.html">GSAP</a>
    <a href="threejs.html">Three.js</a>
    <a href="typedjs.html">Typed.js</a>

    <h2><span id="typed-tekst"></span></h2>

</body>

</html>